<section-footer>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                </p>
            </div>
        </div>
    </footer>

    <style>
     section-footer > .footer {
         margin-top: 222px;
         height: 222px;
         padding-top: 13px;
         padding-bottom: 13px;
         background: #2C3A54;
         opacity: 0.7;
     }
    </style>
</section-footer>
